circle_detection.py
pupil_detection1.py
pupil_detection2.py
test/1.jpg
test/accurate_eye_blinking
test/Ball Tracking with OpenCV.mp4
test/Eyeball.jpg
test/videoplayback.mp4
#Project
.idea/workspace.xml
.idea/tasks.xml
